@model WebProgramAR.Entidades.ReglasSeguridad

@{

    Layout = null;
}

  
@using (Ajax.BeginForm("Delete", "Seguridad", FormMethod.Post, new AjaxOptions { OnBegin = "disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }))
{
    <h2>Eliminar</h2>
    <h4>Curso</h4>
    <h3>Confirmacion</h3>
    
    <fieldset>
        <br style="height: 5px" />
        @Html.HiddenFor(model => model.ReglaId)
        
        <div class="fila">
            <div class="display-label-delete">Tabla:</div>
            <div class="display-field-delete">@Model.Tabla.Nombre</div>
        </div>

        <div class="fila">
            <div class="display-label-delete">Columna:</div>
            <div class="display-field-delete">@Model.Columna.Nombre</div>
        </div>

        <div class="fila">
            <div class="display-label-delete">Comparador:</div>
            <div class="display-field-delete">@Model.Comparador.Nombre</div>
        </div>

        <div class="fila">
            <div class="display-label-delete">Usuario:</div>
            <div class="display-field-delete">@(Model.Usuario != null ? Model.Usuario.UsuarioNombre : "Todos")</div>
        </div>

        <div class="fila">
            <div class="display-label-delete">TipoUsuario:</div>
            <div class="display-field-delete">@((Model.TipoUsuario != null) ? Model.TipoUsuario.Descripcion : "Todos")</div>
        </div>

        <div class="fila">
        <div class="display-label-delete">Valor:</div>
        <div class="display-field-delete">@Model.Valor</div>
    </div>

      <div class="fila">
        <div class="display-label-delete">Habilitada:</div>
        <div class="display-field-delete">@(Model.Activa ? "Si" : "No")</div>
    </div>
    
    </fieldset>  
    
        <div id="buttonSectionOptions" class="buttonSectionOptions">
            <div>
                <input type="submit" value="Eliminar" class="submit" id="btnGuardar"/>
            </div>
            <div >
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>


}
<div class="update-message-box">
    <div id="update-message" class="error" ></div>
    <div class="pointerBox"></div>
</div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
