@model WebProgramAR.Entidades.ReglasSeguridad
@{
    Layout = null;
}
<h2>Detalles</h2>
<h4>Regla</h4>

<fieldset class="details">
    
    <div class="fila">
        <div class="display-label-delete">Tabla:</div>
        <div class="display-field-delete">@Model.Tabla.Nombre</div>
    </div>

    <div class="fila">
        <div class="display-label-delete">Columna:</div>
        <div class="display-field-delete">@Model.Columna.Nombre</div>
    </div>

    <div class="fila">
        <div class="display-label-delete">Comparador:</div>
        <div class="display-field-delete">@Model.Comparador.Nombre</div>
    </div>

    <div class="fila">
        <div class="display-label-delete">Usuario:</div>
        <div class="display-field-delete">@(Model.Usuario != null ? Model.Usuario.UsuarioNombre : "Todos")</div>
    </div>

    <div class="fila">
        <div class="display-label-delete">TipoUsuario:</div>
        <div class="display-field-delete">@(Model.TipoUsuario != null ? Model.TipoUsuario.Descripcion : "Todos")</div>
    </div>

    <div class="fila">
        <div class="display-label-delete">Valor:</div>
        <div class="display-field-delete">@Model.Valor</div>
    </div>

      <div class="fila">
        <div class="display-label-delete">Habilitada:</div>
        <div class="display-field-delete">@(Model.Activa ? "Si" : "No")</div>
    </div>
   
</fieldset>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <input type="button" value="OK" class="submit" id="btnCancelar" />
        </td>
    </tr>
</table>
