@model WebProgramAR.Models.ChangePasswordModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = null;
}

@if (Model.EsResetPassword)
{
    <h2>Resetear contraseña</h2>
}
else
{
    <h2>Cambiar contraseña</h2>
}
<h4>Cuenta</h4>
<h1>
    Coloque la contraseña 
</h1>

<script type="text/javascript">

    function updateWindow() {
        $("#divOperacionExitosaRecoverPassword").delay(300).fadeOut(500);
        setTimeout("updateWin()", 1000);
    }
    function updateWin() {
        //var url = window.location.protocol + '//' + window.location.host + window.location.pathname;

        var controller = $('#controllerRedirect').val();
        var action = $('#actionRedirect').val();
        var url = window.location.href;

        if (controller != '' && action != '') {
            var url = window.location.protocol + '//' + window.location.host + '/' + controller + '/' + action;
        }
        window.location.href = url;
    }
    
</script>



@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { UpdateTargetId = "update-message-popUp", OnSuccess = "updateSuccessPopUp", HttpMethod = "POST" }, new { id = "frmLogIn" }))
{
    @Html.ValidationSummary(true)
    <div>
        <div id="logonerror">Error con las contraseñas.
        </div>  
        <fieldset>
            <div id="result"></div>
            
            @Html.HiddenFor(m => m.EsResetPassword)
            @Html.HiddenFor(m => m.UserName)

            @if (!Model.EsResetPassword)
            {
                 <div class="editor-label">
                    Contraseña actual
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            }
            else
            {
                @Html.HiddenFor(m => m.OldPassword)
            }
            <br />
            <div class="editor-label">
                Nueva contraseña
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <br />
            <div class="editor-label">
                Confirmar nueva contraseña
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <br style="height: 15px" />
            <div class="update-message-box-popUp">
                <div id="update-message-popUp" class="error" ></div>
                <div class="pointerBox"></div>
            </div>
            <div id="divOperacionExitosaPopUp">Operacion Exitosa</div>

            <div id="buttonSectionOptions" class="buttonSectionOptions">
                <div>
                    <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
                </div>
                <div >
                    @if (Model.EsResetPassword)
                    {
                        <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
                    }
                    else
                    {
                        <input type="button" value="Cancelar" class="submit" id="btnCancelarSubDialog"/>
                    }
                     
                </div>
            </div>
        </fieldset>
    </div>
}


   