@model WebProgramAR.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
    Layout = null;
}

<h2>Informacion de Cuenta</h2>
<legend>Log On</legend>
<p>
    Por favor ingrese usuario y contraseña. @Html.ActionLink("Registrese", "Register","Usuario") si no posee una cuenta.
</p>

<script type="text/javascript">

    function updateWindow() {
        $("#divOperacionExitosa").delay(300).fadeOut(500);
        setTimeout("updateWin()", 1000);
    }
    function updateWin() {
        //var url = window.location.protocol + '//' + window.location.host + window.location.pathname;

        var controller = $('#controllerRedirect').val();
        var action = $('#actionRedirect').val();
        var url = window.location.href;

        if (controller != '' && action != '')
        {
                var url = window.location.protocol + '//' + window.location.host + '/' + controller + '/' + action; 
        }
        window.location.href = url;
    }

    function updateSuccess() {
        
        if ($("#update-message").html() == "True") {
            $("#divOperacionExitosa").fadeIn(300);
            updateWindow();

        } else {
            $("#logonerror").show();
        }

    }
    
</script>



@using (Ajax.BeginForm("LogOn", "Account", new AjaxOptions { UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }, new { id = "frmLogIn" }))
{
    @Html.ValidationSummary(true, "Login no satisfactorio. Verifique los datos ingresados e intente nuevamente.")
    <div>
        <div id="logonerror">Login no satisfactorio. Verifique los datos ingresados e intente nuevamente.
        </div>  
        <fieldset>
            <div id="result"></div>
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName, new { Class = "required" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password, new { Class = "required" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <p><input type="submit" id="logonButton" value="Log On" /></p>
        </fieldset>
        <p>En caso de no recordar su contraseña,  @Html.ActionLink("Click Aqui", "Register","Usuario") .</p>
            
    </div>
}

<div id="update-message" class="error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
