

@{
    Layout = null;
    
}

@*<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/utils.js")" type="text/javascript"></script>*@
<script language="javascript">

    $(document).ready(function () {
        $("#logindisplay").click(function (event) {

            LoginPopUp(event);
        });
    });

    function LoginPopUp(event) {
        OpenDialogLogin(event, '', '@Url.Action("../Account/LogOn")/', 500, 370);
    }
</script>

@if(Request.IsAuthenticated) {
    <text>Welcome <strong>@User.Identity.Name</strong>!
     </text> @Html.ActionLink("Log Off", "LogOff", "Account") 
}
else
{
    <div id="loginClickMe">
        <img class="logOnCandado" src="../../Content/images/lock_icon_close.png" style="float:center" />
        <div id="logOn">Log On </div>
    </div>
}


<div id="dialogLogin" class="dialogDiv border_all" ></div>