@{
    Layout = null;
}

@*<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/utils.js")" type="text/javascript"></script>*@
<script language="javascript">

    $(document).ready(function () {
        $("#loginClickMe").click(function (event) {
            LoginPopUp(event);
        });
        $(".logOutCandado").click(function (event) {
            $.ajax({
                url: '@Url.Action("LogOff","Account")',
                contentType: 'application/json',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    window.location.reload();
                }
            })

        });
        $(".miPerfil").click(function (event) {
            window.location.href='@Url.Action("MiPerfil", "Usuario")';
        });
        /*PARA EL MANEJO DE MENU/SUBMENU*/
        $("#logoutClickMe").click(function () {
            var divId = $(this).attr("id");
            var left = ($(this).position().left) - 70;
            var top = ($(this).position().top) + 5;
            $(".userOptions").css("left", left);
            $(".userOptions").css("top", top);
            $(".userOptions").stop(true, true).fadeIn("slow");
        });
        $(".userOptions").mouseleave(function () {
            $(this).fadeOut("slow");
        });
    });
    function LoginPopUp(event) {
        OpenDialogLogin(event, '', '@Url.Action("../Account/LogOn")/', 500,420);
    }

    function RecoverPasswordPopUp(event) {
        OpenDialogRecoverPassword(event, '', '@Url.Action("../Account/RecoverPassword")/', 500, 370);
    }
</script>

@if(Request.IsAuthenticated) {
    <div id="logoutClickMe">
        <div id="miPerfil" class="miPerfilButton">@User.Identity.Name</div>
        <div id="seeMoreOptionsUser" class="seeMoreOptions"></div>
    </div>
    <ul id="userOptions" class="userOptions">
       
        <li id="userOption" class="miPerfil">
            <div style="width:100%;float:left;display:inline;">
                <div style="float:left"><img src="../../Content/images/perfil.png" /></div>
                <div style="float:left"><div id="miPerfil" class="miPerfilButton" >Mi Perfil</div></div>
            </div>
        </li>
         <li id="userOption" class="logOutCandado">
            <div style="width:100%;float:left;display:inline;">
                <div style="float:left"><img  src="../../Content/images/logout.png" alt="LogOff" /></div>
                <div style="float:left">Salir</div>
            </div>
        </li>
    </ul>
}
else
{
    <div id="loginClickMe">
        <img class="logOnCandado" src="../../Content/images/lock_icon_close.png" style="float:center" />
        <div id="logOn">Log On </div>
    </div>
}
<div id="dialogLogin" class="dialogDiv border_all" ></div>
<div id="dialogRecoverPassword" class="dialogDiv border_all"  ></div>
