@model WebProgramAR.Entidades.Usuario
@{
    Layout = null;
}

<h2>Detalles</h2>
<legend>Usuario</legend>

<div class="SameSectionSpace">
    <div class="fieldsElements">
        <div class="fila">
            <div class="display-label-delete">Nombre Usuario:</div>
            <div class="display-field-delete">@Model.UsuarioNombre</div>
        </div>
        <div class="fila">
            <div class="display-label-delete">Nombre:</div>
            <div class="display-field-delete">@Model.Nombre</div>
        </div>
        <div class="fila">
            <div class="display-label-delete">Apellido:</div>
            <div class="display-field-delete">@Model.Apellido</div>
        </div>
        <div class="fila">
            <div class="display-label-delete">Email:</div>
            <div class="display-field-delete">@Model.Email</div>
        </div>
        <div class="fila">
            <div class="display-label-delete">Fecha Nacimiento:</div>
            <div class="display-field-delete">@Model.FechaNacimiento</div>
        </div>
        <div class="fila">
            <div class="display-label-delete">Tipo Usuario:</div>
            <div class="display-field-delete">@Model.TipoUsuario.Descripcion</div>
        </div>
        <div class="fila">
            <div class="display-label-delete">Pais:</div>
            <div class="display-field-delete">@Model.Pais.Descripcion</div>
        </div>
        <div class="fila">
            <div class="display-label-delete">Provincia:</div>
            <div class="display-field-delete">@Model.Provincia.Descripcion</div>
        </div>
        <div class="fila">
            <div class="display-label-delete">Localidad:</div>
            <div class="display-field-delete">@Model.Localidad.Descripcion</div>
        </div>
    </div>
</div>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <input type="button" value="OK" class="submit" id="btnCancelar" />
        </td>
    </tr>
</table>
