@model WebProgramAR.Entidades.Ejercicio
@{
    
    List<WebProgramAR.Entidades.NivelEjercicio> listaNiveles = (List<WebProgramAR.Entidades.NivelEjercicio>)ViewBag.NivelesEjercicio;
}
<div class="editor-label">
     @Html.LabelFor(model => model.Nombre)
</div>

<div class="editor-label">
    @Html.EditorFor(model => model.Nombre)
    @Html.ValidationMessageFor(model => model.Nombre)
</div>
<div class="editor-label">
    @Html.LabelFor(m => m.NivelEjercicio)
</div>
<div class="editor-field">
        @Html.DropDownListFor(model => model.NivelEjercicio, listaNiveles.Select(option => new SelectListItem
        {
            Text = Html.DisplayTextFor(_ => option.Descripcion).ToString(),
            Value = option.NivelEjercicioId.ToString(),
            Selected = ((Model != null) && (option.NivelEjercicioId == Model.NivelEjercicioId))
        }), new { @id = "NivelEjercicioCreate" })

        @Html.ValidationMessageFor(m => m.NivelEjercicio)
</div>
<script type="text/javascript">
    convertSelect("NivelEjercicioCreate");
    function OnChangeDo(div) { return false; }
</script>