@model WebProgramAR.Entidades.Ejercicio
@{
    
}

<div class="editor-label">
     @Html.LabelFor(model => model.Nombre)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Nombre)
</div>

<div class="editor-label">
    @Html.LabelFor(m => m.NivelEjercicio)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.NivelEjercicio)
</div>
   
<div class="editor-label">
    @Html.LabelFor(model => model.Enunciado)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Enunciado)
</div>
    
<div class="editor-label">
    @Html.LabelFor(model => model.SolucionTexto)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.SolucionTexto)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Usuario)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Usuario.UsuarioNombre)
</div>

