@model WebProgramAR.Sitio.Models.EjercicioGrillaModel

@{
    ViewBag.Title = "Ejercicios pendientes de aprobacion";

    WebGrid grid = new WebGrid(rowsPerPage: Model.CantidadPorPagina, canPage: false);

    grid.Bind(Model.Ejercicios, autoSortAndPage: true, rowCount: Model.Cantidad);

    string funcionesAutorizadas = ViewBag.FuncionesAutorizadas;
    List<WebProgramAR.Entidades.NivelEjercicio> listaNivelesEjercicio = (List<WebProgramAR.Entidades.NivelEjercicio>)ViewBag.NivelesEjercicio;
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#filterSearchButton").live('click', function () {
            $("#filterForm").submit();
        });
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "EJERCICIOS") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
        $('#btnFiltros').live('click', function (event) {
            if ($('#filtros').css('display') == 'block') {
                $('#filtros').fadeOut('slow');
            } else {
                $('#filtros').fadeIn('slow');
            }
        });
     

        $('.botonDetalles').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Details")/', 500, 250);
        });
        var sortcol = '@grid.SortColumn';

        if (sortcol != '')
            $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().addClass('@(grid.SortDirection == SortDirection.Descending ? "grid_sort_asc" : "grid_sort_desc")');

        //FuncionesAutorizadas('@funcionesAutorizadas');
    });
</script>


<h1>Ejercicios Aprobados</h1>
<div id="buttonSection" class="buttonSection">
    <div id="btnFiltros" class="btn_filtros boton" >Filtros </div>
</div>    
<div id="filtros">
    <div class="tituloabm">Seleccion de Ejercicios</div>

    <div class="filtrosabm">
        @using (Html.BeginForm("Desaprobados", "Ejercicio", FormMethod.Post, new { id = "filterForm" }))
        {    
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td><div class="label">Identificador</div></td>
                    <td valign="top">@Html.TextBox("nombre", null, new { maxlength = 50, autocomplete = "off" })</td>
                    <td><div class="label">Nivel</div></td>
                    <td valign="top">               
                         @Html.DropDownList("nivelEjercicio", listaNivelesEjercicio.Select(option => new SelectListItem
                        {
                            Text = Html.DisplayTextFor(_ => option.Descripcion).ToString(),
                            Value = option.NivelEjercicioId.ToString()
                        }))
                    </td>
                </tr>
            </table>
            <div id="filterSearchButton" class="filterButton"></div>
        }
    </div>
</div>
    


<div id="contenedor-grid">
@grid.GetHtml(
    tableStyle: "grid",
    fillEmptyRows: false,
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAlternatingRow",
    headerStyle: "gridHeader",
    footerStyle: "gridPager",
    mode: WebGridPagerModes.All,
        firstText: "<<",
        previousText: "<",
    nextText: ">",
        lastText: " >>",
    columns: new[] {
    grid.Column("EjercicioId", header: "Identificador"),
    grid.Column("Enunciado", header: "Enunciado"),
    grid.Column("NivelEjercicio.Descripcion", header: "Nivel"),
    grid.Column("Usuario.UsuarioNombre", header: "Usuario"),
    grid.Column("", 
          header: "",
          format: @<text>
                    <input type="image" alt="Detalles" src="@Url.Content("~/Content/images/preview-16.png")" data="@(item.EjercicioId)" class="botonDetalles"/>
                  </text>
    )
})
</div>
<div id="dialog" class="dialogDiv" ></div>
<script type="text/javascript">
    convertSelect("nivelEjercicio",1);
</script>
