@model WebProgramAR.Entidades.Ejercicio
           
@{
    Layout = null;
    ViewBag.Title = "Ejercicios";
}

<h2>Editar</h2>
<legend>Ejercicio</legend>
        
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/utils.js")" type="text/javascript"></script>

<script type="text/javascript">
    $("#btnCancelar").live('click', function () {
        CerrarDialog();
    });
    //para el saveEjercicio
    $('#btnAceptar').live('click', function (event) {

        var validator = $("#frmSaveEjercicio").validate({ rules: {
            Nombre: { required: true, maxlength: 64 }
        }
        });
        if (validator.form() == true) {

            var ai = {
                Nombre: $("#Nombre").val(),
                Nombre: $("#NivelEjercicioCreate").val()
            };


            $.ajax({
                url: '@Url.Action("Edit")',
                type: "POST",
                dataType: "json",
                data: JSON.stringify(ai),
                contentType: 'application/json; charset=utf-8',
                success: function (data, textStatus) {
                    return false;
                    if (data.success == "true") {
                        $("#dialog").hide();
                        $("#disablingDiv").fadeOut("slow");
                    } else {
                        $("#logonerror").fadeIn("slow");
                    }
                },
                error: function (xhr, status, error) {
                    debugger;
                    var verr = xhr.status + "\r\n" + status + "\r\n" + error;
                    alert(verr);
                }

            });
        }
    });
</script>


   
@using (Html.BeginForm("Edit", "Ejercicio", FormMethod.Post, new { id="frmSaveEjercicio",enctype = "multipart/form-data" }))
{ 
    <fieldset>
        @Html.ValidationSummary(true)

        @Html.Partial("_CreateOrEdit", Model)
         
        <div style="position:absolute;width:100%;bottom:30px;">
            <div style="display:inline;float:left;left:15%;">
                <input type="submit" value="Guardar"  id="btnAceptar"/> 
            </div>
            <div style="display:inline;float:left;margin-left:20px;">
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar" />
            </div>
        </div>
    </fieldset>
}