@model WebProgramAR.Sitio.Models.EjercicioGrillaModel

@{
    if (!Model.ConLayout)
    {
        Layout = null;
    }
    
    ViewBag.Title = "Ejercicios pendientes de aprobacion";

    WebGrid grid = new WebGrid(rowsPerPage: Model.CantidadPorPagina);

    grid.Bind(Model.Ejercicios, autoSortAndPage: false, rowCount: Model.Cantidad);

    string funcionesAutorizadas = ViewBag.FuncionesAutorizadas;
    List<short> listaNivelesEjercicio = (List<short>)ViewBag.NivelesEjercicio;
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#filterSearchButtonPendientes").live('click', function () {
            $("#filterFormPendientes").submit();
        });
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "EJERCICIOS") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
        $('#btnFiltrosPendientes').live('click', function (event) {
            if ($('#filtrosPendientes').css('display') == 'block') {
                $('#filtrosPendientes').fadeOut('slow');
            } else {
                $('#filtrosPendientes').fadeIn('slow');
            }
        });

        $('.botonEditar').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Moderar")/', 700, 540);
        });

        $('.botonDetalles').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Details")/', 700, 480);
        });
        var sortcol = '@grid.SortColumn';

        if (sortcol != '')
            $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().addClass('@(grid.SortDirection == SortDirection.Descending ? "grid_sort_asc" : "grid_sort_desc")');

        //FuncionesAutorizadas('@funcionesAutorizadas');
    });
</script>


<h1>Ejercicios Pendientes de Aprobacion</h1>
<div id="buttonSection" class="buttonSection">
    <div id="btnFiltrosPendientes" class="btn_filtros boton" >Filtros </div>
</div>    
<div id="filtrosPendientes" class="filtros">
    <div class="tituloabm">Seleccion de Ejercicios</div>

    <div class="filtrosabm">
        @using (Html.BeginForm("PendientesAprobacion", "Ejercicio", FormMethod.Post, new { id = "filterFormPendientes" }))
        {    
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td><div class="label">Identificador</div></td>
                    <td valign="top">@Html.TextBox("nombre", null, new { maxlength = 50, autocomplete = "off" })</td>
                    <td><div class="label">Nivel</div></td>
                    <td valign="top">               
                         @Html.DropDownList("nivelEjercicio", listaNivelesEjercicio.Select(option => new SelectListItem
                        {
                            Text = Html.DisplayTextFor(_ => option).ToString(),
                            Value = option.ToString()
                        }), new { @id = "nivelEjercicioPendientes", @style = "display:none" })
                    </td>
                </tr>
            </table>
            <div id="filterSearchButtonPendientes" class="filterButton"></div>
        }
    </div>
</div>
    


<div id="contenedor-grid">
@grid.GetHtml(
    tableStyle: "grid",
    fillEmptyRows: false,
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAlternatingRow",
    headerStyle: "gridHeader",
    footerStyle: "gridPager",
    mode: WebGridPagerModes.All,
            firstText: "Prim",
            previousText: "<< Ant",
            nextText: "Prox >>",
            lastText: " Ult",
    columns: new[] {
    grid.Column("EjercicioId", header: "Identificador"),
    grid.Column("Enunciado", header: "Enunciado"),
    grid.Column("NivelEjercicio", header: "Nivel"),
    grid.Column("Usuario.UsuarioNombre", header: "Usuario"),
    grid.Column("", 
          header: "",
          format: @<text>
                    <input type="image" alt="Detalles" src="@Url.Content("~/Content/images/preview-16.png")" data="@(item.EjercicioId)" class="botonDetalles hoverRel"/>
                  </text>
    )        
    ,grid.Column("", 
          header: "",
          format: @<text>
                    <input type="image" alt="Editar" src="@Url.Content("~/Content/images/edit_modify.png")" data="@(item.EjercicioId)" class="botonEditar hoverRel"/>
                  </text>
    )
})
</div>
<div id="dialog" class="dialogDiv" ></div>
<script type="text/javascript">
    convertSelect("nivelEjercicioPendientes", 1);
</script>
