@model WebProgramAR.Entidades.Usuario
@using WebProgramAR.Helpers
@{
    
    List<WebProgramAR.Entidades.Pais> listaPaises = (List<WebProgramAR.Entidades.Pais>)ViewBag.Paises;
    List<WebProgramAR.Entidades.Provincia> listaProvincias = (List<WebProgramAR.Entidades.Provincia>)ViewBag.Provincias;
    List<WebProgramAR.Entidades.Localidad> listaLocalidades = (List<WebProgramAR.Entidades.Localidad>)ViewBag.Localidades;
    List<WebProgramAR.Entidades.TipoUsuario> listaTipoUsuario = (List<WebProgramAR.Entidades.TipoUsuario>)ViewBag.TipoUsuarios;
    
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#botonCambiarPassword').click(function (event) {
            OpenSubDialog(event, $(this).attr('data'), '@Url.Action("ChangePassword","Account")/', 450, 400);
        });
    });

</script>

<div class="sectionSpace">
 @*   @Html.HiddenFor(model => model.UsuarioId)*@

        <fieldset>
            <h3>Informacion de la Cuenta</h3>
            @Html.HiddenFor(m => m.UsuarioId, new { style = "display:none;" })
                <div class="editor-label">
                    @Html.LabelFor(m => m.UsuarioNombre)
                </div>
                <div class="editor-field">
                    @if (Model == null)
                    {
                        @Html.TextBoxFor(m => m.UsuarioNombre)
                        @Html.ValidationMessageFor(m => m.UsuarioNombre)
                    }
                    else
                    {
                        @Html.HiddenFor(m => m.UsuarioNombre)
                        @Html.TextBox("TextBoxNombreUsuarioAux",Model.UsuarioNombre,new { disabled = "disabled" })
                    }
                </div>
        
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div style="width:120px;">
                <button id="botonCambiarPassword" class="submit" data="@(Model.UsuarioId)">Cambiar contraseña</button>

            </div>
        </fieldset>
    </div>
    <div class="sectionSpace">
        <div class="SameSectionSpace">
        <fieldset>
            <h3>Informacion del Usuario</h3>

            <div class="editor-label">
                @Html.LabelFor(m => m.Nombre)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Nombre)
                @Html.ValidationMessageFor(m => m.Nombre)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Apellido)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Apellido)
                @Html.ValidationMessageFor(m => m.Apellido)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.FechaNacimiento)
            </div>
            <div class="editor-field">
                @Html.TextBox("FechaNacimiento", Model.FechaNacimiento.GetDateTimeFormats()[0], new { @readonly = "readonly", @id = "FechaNacimiento", @name = "FechaNacimiento", @class = "date-picker-needed" })
                @*@Html.TextBoxFor(model => model.FechaNacimiento.GetDateTimeFormats()[0], new { @readonly = "readonly", @id = "FechaNacimiento",@name = "FechaNacimiento", @class = "date-picker-needed" })*@
                @Html.ValidationMessageFor(m => m.FechaNacimiento)
            </div>
        </fieldset>
        </div>
        <div class="SameSectionSpace">
        <fieldset>
            @if (ViewBag.EsMiPerfil == null || ViewBag.EsMiPerfil == false)
            {
                <div class="editor-label">
                    @Html.LabelFor(m => m.TipoUsuario)
                </div>
                <div class="editor-field">
                     @Html.DropDownListWithValidationFor(model => model.TipoUsuarioId, listaTipoUsuario.Select(option => new SelectListItem
                {
                    Text = Html.DisplayTextFor(_ => option.Descripcion).ToString(),
                    Value = option.TipoUsuarioId.ToString(),
                    Selected = ((Model != null) && (option.TipoUsuarioId == Model.TipoUsuarioId))
                }), new { @id = "TipoUsuarioCreate", @style = "display:none" })

                        @Html.ValidationMessageFor(m => m.TipoUsuarioId)
                </div>
            }
            else
            {
                if (Model != null)
                {
                    @Html.HiddenFor(model => model.TipoUsuarioId)
                }
                else
                {
                    @Html.Hidden("TipoUsuarioId", -1)
                }
            }
            <div class="editor-label">
                @Html.LabelFor(m => m.Pais)
            </div>
            <div class="editor-field">
                 @Html.DropDownListWithValidationFor(model => model.PaisId,
                                listaPaises.Select(option => new SelectListItem
                                {
                                    Text = Html.DisplayTextFor(_ => option.Descripcion).ToString(),
                                    Value = option.PaisId.ToString(),
                                    Selected = ((Model != null) && (option.PaisId.ToString() == Model.PaisId))
                                }), new { @id = "SelectPaisId", @style = "display:none", @Name = "SelectPaisId" })
                @Html.HiddenFor(model => model.PaisId)
                @Html.ValidationMessageFor(m => m.PaisId)
            </div>
             <div id="listProvincias">
                <div class="editor-label">
                    @Html.LabelFor(m => m.Provincia)
                </div>
                <div class="editor-field">
                    @Html.DropDownListWithValidationFor(model => model.ProvinciaId,
                                        listaProvincias.Select(option => new SelectListItem
                                        {
                                            Text = Html.DisplayTextFor(_ => option.Descripcion).ToString(),
                                            Value = option.ProvinciaId.ToString(),
                                            Selected = ((Model != null) && (option.ProvinciaId.ToString() == Model.ProvinciaId.ToString()))
                                        }), new { @id = "SelectProvinciaId", @style = "display:none", @Name = "SelectProvinciaId" })
                    @Html.HiddenFor(model => model.ProvinciaId)
                    @Html.ValidationMessageFor(m => m.ProvinciaId)
                </div>
            </div>
            <div  id="listLocalidades"  >
                <div class="editor-label">
                    @Html.LabelFor(m => m.Localidad)
                </div>
                 <div class="editor-field">
                    @Html.TextBoxFor(model => model.LocalidadId, new { @rel = Model.LocalidadId, @Value = ViewBag.descripcionLocalidad, @id = "LocalidadIdAutoComplete", @Name = "LocalidadIdAutoComplete" })
                    @Html.HiddenFor(model => model.LocalidadId)
                    @Html.ValidationMessageFor(m => m.LocalidadId)
                </div>
            </div>

        </fieldset>
        </div>
    </div>
<script type="text/javascript">
    $("<option value='-1' >Seleccion una Opcion</option>").prependTo("#SelectPaisId");
    convertSelect("SelectPaisId");
    $("<option value='-1' >Seleccion una Opcion</option>").prependTo("#SelectProvinciaId");
    convertSelect("SelectProvinciaId");
    convertSelect("TipoUsuarioCreate");

    $("#FechaNacimiento").datepicker({ minDate: new Date(1920, 01, 01), changeMonth: true, changeYear: true, yearRange: "1920:1995", maxDate: new Date(new Date().getFullYear() - 17, new Date().getMonth(), new Date().getDay()) });
    $("#FechaNacimiento").keypress(function (event) {
        var charCode = (event.which) ? event.which : event.keyCode
        if (charCode == 8) return false; //  backspace
        if (charCode == 46) return false; // delete
    });
    function reInitProvincia() {
        $("#ProvinciaId").val("");
    }
    function reInitLocalidad() {
        $("#LocalidadId").val("");
        $("#LocalidadIdAutoComplete").attr("rel", "");
        $("#LocalidadIdAutoComplete").val("");
    }
    function OnChangeDo(div) {
        if (div.attr('id') == "SelectPaisId") {
            var pais = $("#selectBox_SelectPaisId").attr("rel");
            if (pais != "-1") {
                $.ajax({
                    url: '@Url.Action("GetProvinciasByPais")',
                    data: " { paisId: '" + pais + "'}",
                    contentType: 'application/json',
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        $("#listProvincias .tzSelect").remove();
                        $("#SelectProvinciaId").children().remove();
                        var provincias = (typeof data) == 'string' ? eval('(' + data + ')') : data;
                        for (var i = 0; i < provincias.length; i++) {
                            var val = provincias[i].Id;
                            var text = provincias[i].Value;
                            $("#SelectProvinciaId").get(0).options[$("#SelectProvinciaId").get(0).options.length] = new Option(text, val);
                        }
                        $("<option value='-1' selected='selected'>Seleccion una Opcion</option>").prependTo("#SelectProvinciaId");
                        convertSelect("SelectProvinciaId");
                        $("#PaisId").val((div.attr("rel")));
                        reInitProvincia();
                        reInitLocalidad();
                        
                    }
                });
                $("#listProvincias").show();
            } else {
                $("#listProvincias").hide();
                $("#listLocalidades").hide();
            }
            return;
        }
        if (div.attr('id') == "SelectProvinciaId") {
            if ((div.attr("rel")!="-1")) {
                $("#listLocalidades").show();
                $("#ProvinciaId").val((div.attr("rel")));
            }else{
                $("#listLocalidades").hide();
            }
                reInitLocalidad();
            
            return;
        }
    }

    $("#LocalidadIdAutoComplete").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetLocalidadesByLocalidadByProvinciaByPais")',
                data: " { paisId: '" + $("#selectBox_SelectPaisId").attr("rel") + "', provinciaId: '" + $("#selectBox_SelectProvinciaId").attr("rel") + "', Localidad: '" + request.term + "' }",
                contentType: 'application/json',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                if (data == null || data == "") {
                        reInitLocalidad();
                    } else {
                        response($.map(data, function (item) {
                            return {
                                label: item.Value,
                                value: item.Id
                            }
                        }));
                    }
                }
            })

        },
        scrollHeight: 10,
        minChars: 1,
        delay: 10,
        type: 'POST',
        selectFirst: false,
        select: function (event, ui) {
            $("#LocalidadIdAutoComplete").val(ui.item.label);
            $("#LocalidadId").val(ui.item.value);
            $("#LocalidadIdAutoComplete").attr("rel", ui.item.value);
            $("#Nombre").focus();
        },
        change: function (event, ui) {
            if (ui.item != undefined) {
                $("#LocalidadIdAutoComplete").val(ui.item.label);
                $("#LocalidadIdAutoComplete").attr("rel", ui.item.value);
                $("#LocalidadId").val(ui.item.value);
            } else {
                reInitLocalidad();
            }
        }
    });
            
</script>


