@model WebProgramAR.Entidades.Usuario
@{
    List<WebProgramAR.Entidades.Pais> listaPaises = (List<WebProgramAR.Entidades.Pais>)ViewBag.Paises;
    List<WebProgramAR.Entidades.Provincia> listaProvincias = (List<WebProgramAR.Entidades.Provincia>)ViewBag.Provincias;
    List<WebProgramAR.Entidades.Localidad> listaLocalidades = (List<WebProgramAR.Entidades.Localidad>)ViewBag.Localidades;
    List<WebProgramAR.Entidades.TipoUsuario> listaTipoUsuario = (List<WebProgramAR.Entidades.TipoUsuario>)ViewBag.TipoUsuarios;
    ViewBag.Title = "Mi Perfil";
    int valorAprobado = Convert.ToInt32(WebProgramAR.Globales.Globals.EstadosEjercicios.Aprobado);
    int valorDesprobado = Convert.ToInt32(WebProgramAR.Globales.Globals.EstadosEjercicios.Desaprobado);
    int valorPendiente = Convert.ToInt32(WebProgramAR.Globales.Globals.EstadosEjercicios.Pendiente);
        
}

<h1>Mi Perfil</h1>
<ul class="tabs">
    <li id="Perfil" class="selected">Perfil</li>
    <li id="Cursos">Cursos</li>
    <li id="Aprobados">Aprobados</li>
    <li id="Pendientes">Pendientes</li>
    <li id="Desaprobados">Desaprobados</li>
</ul>
@Html.HiddenFor(model => model.UsuarioId)
<div id="tabContent" class="contentInformation">
    <div id="content">
      
    </div>
    
</div>
<div id="update-message" class="error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
   <div id="subDialog" class="dialogDiv"></div>
<script language="javascript">
    
    OpenTab(null, $("#UsuarioId").val() + '?esMiPerfil=true', '@Url.Action("Edit")/', "content");
    $(document).ready(function () {
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "USUARIOS") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
        $(".tabs li").click(function (event) {
            if (initOpenTab) {
                var actual = $(this).attr("id");
                if ($(".tabs li.selected").attr("id") != actual) {
                    $(".tabs li").each(function (e) {
                        if ($(this).attr("id") == actual) {
                            $("#" + actual).fadeIn("slow");
                            $(this).addClass("selected");
                        }
                        else {
                            $(this).removeClass("selected");
                        }
                    });
                    switch ($(this).attr("id")) {
                        case "Perfil":
                            OpenTab(event, $("#UsuarioId").val() + '?esMiPerfil=true', '@Url.Action("Edit")/', "content");
                            break;
                        case "Cursos":
                            OpenTab(event, $("#UsuarioId").val() + '?conLayout=false&aplicarPermisos=false&usuarioId=' + $("#UsuarioId").val(), '@Url.Action("../Curso/Index")/', "content");
                            break;
                        case "Aprobados":
                            OpenTab(event, $("#UsuarioId").val() + '?conLayout=false&aplicarPermisos=false&usuarioId=' + $("#UsuarioId").val(), '@Url.Action("../Ejercicio/Index")/', "content");
                            break;
                        case "Pendientes":
                            OpenTab(event, $("#UsuarioId").val() + '?conLayout=false&aplicarPermisos=false&estadoEjercicio=@valorPendiente&usuarioId=' + $("#UsuarioId").val(), '@Url.Action("../Ejercicio/ListarEjerciciosGrillaSinPermisos")/', "content");
                            break;
                        case "Desaprobados":
                            OpenTab(event, $("#UsuarioId").val() + '?conLayout=false&aplicarPermisos=false&estadoEjercicio=@valorDesprobado&usuarioId=' + $("#UsuarioId").val(), '@Url.Action("../Ejercicio/ListarEjerciciosGrillaSinPermisos")/', "content");
                            break;

                    }
                }
            }
        });
        $(".gridPager a").live('click', function (event) {
            var hrefUrl = $(this).attr("href");
            OpenTab(event, hrefUrl, "", "content");
            return false;
        });
    });
</script>