@model WebProgramAR.Sitio.Models.ContactModel
@using WebProgramAR.Helpers           
@{
    ViewBag.Title = "Contacto";
    List<WebProgramAR.Entidades.Pais> listaPaises = (List<WebProgramAR.Entidades.Pais>)ViewBag.Paises;
    List<WebProgramAR.Entidades.Provincia> listaProvincias = (List<WebProgramAR.Entidades.Provincia>)ViewBag.Provincias;
    List<WebProgramAR.Entidades.Localidad> listaLocalidades = (List<WebProgramAR.Entidades.Localidad>)ViewBag.Localidades;
}

<script type="text/javascript">
    $(document).ready(function () {
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "CONTACTO") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
    });
</script>
<h1>@ViewBag.Message</h1>
<p>
    Use el siguiente formulario para comunicarse con nosotros. 
</p>
@using (Ajax.BeginForm("About", "Home", FormMethod.Post, new AjaxOptions { OnBegin = "disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST", OnFailure = "failure" }, new { id = "frmContacto" }))
{ 
        @Html.ValidationSummary(true)

        <div class="sectionSpace">
            <fieldset>
                <div class="editor-label">
                    @Html.LabelFor(m => m.Nombre)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Nombre, new { autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Nombre)
                </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email, new { autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Telefono)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Telefono, new { autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Telefono)
            </div>
            
            </fieldset>
        </div>
        <div class="sectionSpace">
            <fieldset>
                <div class="editor-label">
                        @Html.LabelFor(m => m.Descripcion)
                    </div>
                <div class="editor-field">
                        @Html.TextAreaFor(m => m.Descripcion, new { autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
            </fieldset>
        </div>
        <div>    
            <input type="submit" value="Enviar" class="submit"  id="btnAceptar"/> 
        </div>
        <div class="comentario" style="top:120px;right:120px;">
            <div class="ribbon-wrapper-green"><div class="ribbon-green">Sabias...</div></div>
            <div class="queesContent">La falta de actividad deportiva en las sociedades occidentales es uno de los problemas más graves que atentan contra la salud física y mental</div>
        </div>
}
<div class="update-message-box">
    <div id="update-message" class="error" ></div>
    <div class="pointerBox"></div>
</div>
<div id="divOperacionExitosa">Su Mensaje ha sido enviado</div>


