@{
    ViewBag.Title = "Home";
}

<script type="text/javascript">

    $(document).ready(function () {
        var resultado = @ViewBag.LoginRequired;

        if ( resultado == 1)
        {
            LoginPopUp(null);
        }
    });   

</script>

<!--<h1>@ViewBag.Message</h1>-->
<div id="contentIndex">
    <div class="border_all contentDetailsIndex">
        <div id="info1" class="content visible">
            <div class="imageContent"><input type="image" src="@Url.Content("~/Content/images/index/novedades.jpg")" width="600px" height="365px" alt=""/></div>
            <div class="detailsContent">En la nueva sociedad del conocimiento existen nuevas formas de aprender y de enseñar. <br />La globalización tiene una de sus manifestaciones más relevantes en las denominadas Tecnologías de la Información y Comunicación, las cuales han permitido llevar la globalidad al mundo de la comunicación, facilitando la interconexión entre las personas e instituciones a nivel mundial, y eliminando barreras espaciales y temporales.</div>
        </div>
        <div id="info2" class="content hidden">
            <div class="imageContent"><input type="image" src="@Url.Content("~/Content/images/index/tecnologia.jpg")"  width="600px" height="365px"  alt=""/></div>
            <div class="detailsContent"><important>Program.ar</important> introduce en el mercado, un producto que permite demostrar al alumno que la programación no es más que un pensamiento lógico, y que por lo general aplica sin saberlo en el día a día.</div>
        </div>
        <div id="info3" class="content hidden">
            <div class="imageContent"><input type="image" src="@Url.Content("~/Content/images/index/jovenes.jpg")"  width="600px" height="365px"  alt=""/></div>
            <div class="detailsContent">El nuevo mundo estimula la inteligencia colectiva y colaborativa, la co-construcción de conocimientos y la participación e interacción entre compañeros con intereses de aprendizaje comunes.</div>
        </div>
        <div id="info4" class="content hidden">
            <div class="imageContent"><input type="image" src="@Url.Content("~/Content/images/index/noticias.jpg")"  width="600px" height="365px"  alt=""/></div>
            <div class="detailsContent"><important>Microsoft anuncia tres versiones de su sistema operativo Windows 8</important><br />El gigante estadounidense de la informática anunció oficialmente que la última versión de su sistema operativo estará disponible en tres versiones, dos de ellas, identificadas como Windows 8 y Windows 8 Pro, serán compatibles con ordenadores con procesadores Intel, mientras que una edición independiente, denominada Windows RT, será un desarrollo destinado a las PCs y tabletas con procesadores ARM.</div>
        </div>
    </div>
    <div class="divLine">
        <div class="border_all contentBox orange" rel="info1">
            <div class="textContent"></div>
            <div class="titleContent">TECNOLOGIA</div>
            
        </div>
        <div class="border_all contentBox skyblue" rel="info2">
            <div class="textContent"></div>
            <div class="titleContent">PROGRAMACION</div>
        </div>
    </div>
    <div class="divLine">
        <div class="border_all contentBox green"  rel="info3">
            <div class="textContent"></div>
            <div class="titleContent">EDUCACION</div>
        </div>
        <div class="border_all contentBox purple" rel="info4">
            <div class="textContent"></div>
            <div class="titleContent">NOTICIAS</div>
        </div>
    </div>
</div>
<script language="javascript">
    jQuery(document).ready(function ($) {
        $(".contentDetailsIndex .content").each(function () {
            if (!($(this).hasClass("visible"))) {
                $(this).fadeOut("fast");
            }
        });
        $(".contentBox").click(function () {
            var auxId = $(this).attr("rel");
            $(".contentDetailsIndex .content").each(function () {
                if ($(this).hasClass("visible")) {
                    $(this).removeClass("visible");
                    $(this).addClass("hidden");
                    $(this).fadeOut("fast");
                }
            });
            $(".contentDetailsIndex .content").each(function () {
                if ($(this).attr("id") == auxId) {
                    $(this).removeClass("hidden");
                    $(this).addClass("visible");
                    $(this).fadeIn("slow");
                }
            });
        });


    });
</script>
