@model WebProgramAR.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Informacion de Cuenta</h2>
<legend>Cambiar contraseña</legend>
<p>
    Por favor ingrese el correo electronico con el que se registro a programar. 
    El mismo sera usado para enviarle una nueva nueva contraseña. 
</p>

<script type="text/javascript">

    function updateWindow() {
        $("#divOperacionExitosaRecoverPassword").delay(300).fadeOut(500);
        setTimeout("updateWin()", 1000);
    }
    function updateWin() {
        //var url = window.location.protocol + '//' + window.location.host + window.location.pathname;

        var controller = $('#controllerRedirect').val();
        var action = $('#actionRedirect').val();
        var url = window.location.href;

        if (controller != '' && action != '') {
            var url = window.location.protocol + '//' + window.location.host + '/' + controller + '/' + action;
        }
        window.location.href = url;
    }

    function updateSuccess() {

        if ($("#update-message").html() == "True") {
            $("#divOperacionExitosaRecoverPassword").fadeIn(300);
            updateWindow();

        } else {
            $("#logonerror").show();
        }

    }
    
</script>



@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }, new { id = "frmLogIn" }))
{
    @Html.ValidationSummary(true)
    <div>
        <div id="logonerror">El mail ingresado es invalido
        </div>  
        <fieldset>
            <div id="result"></div>
            
            @Html.HiddenFor(m => m.EsResetPassword)
            @Html.HiddenFor(m => m.UserName)

            @if (!Model.EsResetPassword)
            {
                 <div class="editor-label">
                    Contraseña actual
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            }
            else
            {
                @Html.HiddenFor(m => m.OldPassword)
            }
            
            <div class="editor-label">
                Nueva contraseña
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                Vuelva a escribir la nueva contraseña
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
    </div>
}

<div id="update-message" class="error" style="display:none;"></div>
<div id="divOperacionExitosaRecoverPassword">Operacion Exitosa</div>

   