@model WebProgramAR.Entidades.Curso
           
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    Layout = null;  
    ViewBag.Title = "Editar";
}

<script type="text/javascript">
    $("#btnCancelar").click(function (event) {
        CerrarDialog();
    });

</script>
<h2>Editar</h2>
<legend>Curso</legend>

@using (Ajax.BeginForm("Edit", "Curso", FormMethod.Post, new AjaxOptions { UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }))
{ 
    @Html.ValidationSummary(true)
    
    <fieldset>
         
        <br style="height:5px" />
        @Html.HiddenFor(model => model.CursoId)
        @Html.Partial("_CreateOrEdit", Model)
        <br style="height: 5px" />

         <div style="width:100%">
            <div style="display:inline;float:left;left:15%;">
                <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
            </div>
            <div style="display:inline;float:right;right:15%;">
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>

    </fieldset>
}
<div id="update-message" class"error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
<script language="javascript">

    function updateWindow() {
        alert("dihjas");
        CerrarDialog();
        window.location.reload();
    }
    function updateSuccess() {
        if ($("#update-message").html() == "True") {
            $("#divOperacionExitosa").fadeIn(300).delay(800).fadeOut(500);
            setTimeout("updateWindow", 1000);
        } else {
            $("#update-message").show();
        }

    }
    
</script>