
@model WebProgramAR.Sitio.Models.CursoGrillaModel

@{
    ViewBag.Title = "Cursos";

    WebGrid grid = new WebGrid(rowsPerPage: Model.CantidadPorPagina, canPage: false);

    grid.Bind(Model.Cursos, autoSortAndPage: true, rowCount: Model.Cantidad);

    string funcionesAutorizadas = ViewBag.FuncionesAutorizadas;
}




<script type="text/javascript">
    $(document).ready(function () {

        $("#filterSearchButton").live('click', function () {
            $("#filterForm").submit();
        });
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "CURSOS") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
        $('#btnFiltros').live('click', function (event) {
            if ($('#filtros').css('display') == 'block') {
                $('#filtros').fadeOut('slow');
            } else {
                $('#filtros').fadeIn('slow');
            }
        });
        $('#btnNuevo').click(function (event) {
            OpenDialog(event, '', '@Url.Action("Create")/', 470, 250);
        });

        $('.botonEliminar').click(function (event)
        { OpenDialog(event, $(this).attr('data'), '@Url.Action("Delete")/', 470, 250); });

        $('.botonEditar').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Edit")/', 470, 250);
        });

        $('.botonDetalles').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Details")/', 470, 250);
        });
        $('.botonAsociar').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("../Ejercicio/AsociarCursoEjercicio")/', 770, 550);
        });
        var sortcol = '@grid.SortColumn';

        if (sortcol != '')
            $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().addClass('@(grid.SortDirection == SortDirection.Descending ? "grid_sort_asc" : "grid_sort_desc")');

        //FuncionesAutorizadas('@funcionesAutorizadas');
    });
</script>

<!--<h2>Cursos</h2>-->
<div id="buttonSection" class="buttonSection">
        <div id="btnNuevo" class="btn_nuevo boton" >Nuevo </div>
      
    <div id="btnFiltros" class="btn_filtros boton" >Filtros </div>
</div>    
<div id="filtros">
    <div class="tituloabm">Seleccion de cursos</div>

    <div class="filtrosabm">
        @using (Html.BeginForm("Index", "Curso", FormMethod.Post, new { id = "filterForm" }))
        {    
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td>
                        <div class="label">
                            Nombre
                        </div>
                    </td>
                     <td valign="top">
                            @Html.TextBox("Nombre", null, new { maxlength = 50, autocomplete = "off" })
                    </td>
                </tr>
                
            </table>
            <div id="filterSearchButton" class="filterButton"></div>
        }
    </div>
</div>


<div id="contenedor-grid">

@if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("administrador")))
{

@grid.GetHtml(
    tableStyle: "grid",
    fillEmptyRows: false,
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAlternatingRow",
    headerStyle: "gridHeader",
    footerStyle: "gridPager",
    mode: WebGridPagerModes.All,
        firstText: "<<",
        previousText: "<",
    nextText: ">",
        lastText: " >>",
    columns: new[] {
    grid.Column("Nombre", header: "Nombre"),
   
   
    grid.Column("", 
          header: "",
          format: @<text>
                    <input type="image" alt="Detalles" src="@Url.Content("~/Content/images/preview-16.png")" data="@(item.CursoId)" class="botonDetalles hoverRel"/>
                  </text>
    ),        
    grid.Column("", 
          header: "",
          format: @<text>
                    <input type="image" alt="Editar" src="@Url.Content("~/Content/images/edit_modify.png")" data="@(item.CursoId)" class="botonEditar hoverRel"/>
                  </text>
    ),
    grid.Column("", 
          header: "",
          format: @<text>
                    <input type="image" alt="Eliminar" src="@Url.Content("~/Content/images/cancel_delete-16.png")" data="@(item.CursoId)" class="botonEliminar hoverRel"/>
                    
                  </text>
    ),
    grid.Column("", 
          header: "AsociarCursoEjercicio",
          format: @<text>
                    <input type="image" alt="Asociaciones" src="@Url.Content("~/Content/images/list_task-16.png")" data="@(item.CursoId)" class="botonAsociar hoverRel"/>
                  </text>
    )
})

}
else
{
    @grid.GetHtml(
    tableStyle: "grid",
    fillEmptyRows: false,
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAlternatingRow",
    headerStyle: "gridHeader",
    footerStyle: "gridPager",
    mode: WebGridPagerModes.All,
        firstText: "<<",
        previousText: "<",
    nextText: ">",
        lastText: " >>",
    columns: new[] {
    grid.Column("Nombre", header: "Nombre"),
   
   
    grid.Column("", 
          header: "",
          format: @<text>
                    <input type="image" alt="Detalles" src="@Url.Content("~/Content/images/preview-16.png")" data="@(item.CursoId)" class="botonDetalles hoverRel"/>
                  </text>
    ),
    grid.Column("", 
          header: "",
          format: @<text>
                    <input type="image" alt="Asociaciones" src="@Url.Content("~/Content/images/list_task-16.png")" data="@(item.CursoId)" class="botonAsociar hoverRel"/>
                  </text>
    )
    })
}
</div>
<div id="dialog" class="dialogDiv" ></div>
<script type="text/javascript">
    function OnChangeDo() { return false; }
</script>
