@model WebProgramAR.Entidades.Curso
@{
    List<WebProgramAR.Entidades.Ejercicio> listaEjercicio = (List<WebProgramAR.Entidades.Ejercicio>)ViewBag.Ejercicios;
}
<div class="editor-label">
     @Html.LabelFor(m => m.Nombre)
</div>

<div class="editor-field">
    @Html.EditorFor(m => m.Nombre)
    @Html.ValidationMessageFor(m => m.Nombre)
</div>
<div class="editor-field">
    <!--<div class="display-label-delete-group">Ejercicios</div>    -->
        
        @if (Model != null)
        {
            if (Model.Ejercicios != null && Model.Ejercicios.Count > 0)
            {
                foreach (var Ejercicio in Model.Ejercicios)
                {
                    <div class="display-field-details">
                    @Html.DisplayFor(m => Ejercicio.Nombre)
                    </div>
                }
            }
            else
            {
                <div class="display-field-delete">No se han encontrado Ejercicios Asociados</div>
            }
        }
    @Html.ValidationMessageFor(m => m.Nombre)
</div>

