@model WebProgramAR.Entidades.Curso
@{
    List<WebProgramAR.Entidades.Ejercicio> listaEjercicio = (List<WebProgramAR.Entidades.Ejercicio>)ViewBag.Ejercicios;
}
<div class="editor-label">
     @Html.LabelFor(m => m.Nombre)
</div>

<div class="editor-field">
    @Html.EditorFor(m => m.Nombre)
    @Html.ValidationMessageFor(m => m.Nombre)
</div>

<div class="display-label-delete-group">
    @Html.EditorFor(m => m.Ejercicios)
    @Html.LabelFor(m => m.Ejercicios)
</div>

<div class="editor-field">
    <div class="display-label-delete-group">Ejercicios</div>    
        
        @if (Model != null && Model.Ejercicios!=null && Model.Ejercicios.Count > 0)
        {
            foreach (var Ejercicio in Model.Ejercicios)
            {
                <div class="display-field-delete">
                @Html.DisplayFor(m => Ejercicio.Nombre)
                </div>
            }
        }
        else
        {
            <div class="display-field-delete">No se han encontrado Resultados</div>
        }
    @Html.ValidationMessageFor(m => m.Nombre)
</div>

<script type="text/javascript">
   
    $("#Ejercicios").click(function(){
            $.ajax({
                url: '@Url.Action("GetLocalidadesByLocalidadByProvinciaByPais")',
                data: " { paisId: '" + $("#selectBox_PaisId").attr("rel") + "', provinciaId: '" + $("#selectBox_ProvinciaId").attr("rel") + "', Localidad: '" + request.term + "' }",
                contentType: 'application/json',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Value,
                            value: item.Id
                        }
                    }));
                }
            })

        },
        scrollHeight: 30,
        minChars: 3,
        delay: 100,
        type: 'POST',
        selectFirst: false,
        select: function (event, ui) {
            $("#LocalidadId").text(ui.item.label);
            $("#LocalidadId").attr("value", ui.item.label);
        },
        change: function (event, ui) {
            $("#LocalidadId").val(ui.item.label);
        }
    });
            
</script>


