@model WebProgramAR.Entidades.Curso
@{
    List<WebProgramAR.Entidades.Ejercicio> listaEjercicio = (List<WebProgramAR.Entidades.Ejercicio>)ViewBag.Ejercicios;

  
}

@if (Model != null)
{
    <div class="cursoEdition" style="overflow:auto;height:400px; width:100%;margin-bottom:20px;">

        <div class="editor-label">
             @Html.LabelFor(m => m.Nombre)
        </div>

        <div class="editor-field">
            @Html.EditorFor(m => m.Nombre)
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
        <div class="editor-field">
            <!--<div class="display-label-delete-group">Ejercicios</div>    -->
        
            
            <div class="fila  details">
                @Html.Partial("../Ejercicio/_ListadoDisplay", Model.Ejercicios.ToList())
            </div> 
    
        </div>
    </div>

}
else
{
    <div style="width:100%; margin-bottom:20px;text-align:left">

        <div class="editor-label">
             @Html.LabelFor(m => m.Nombre)
        </div>

        <div class="editor-field">
            @Html.EditorFor(m => m.Nombre)
            @Html.ValidationMessageFor(m => m.Nombre)
        </div>
    </div>
}
