@model WebProgramAR.Entidades.Ejercicio
@{
     WebProgramAR.Entidades.Usuario localUser = Model.Usuario;
     string localUserName  = (localUser != null) ? localUser.UsuarioNombre : "(usuario borrado)";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#accordion").accordion(
        {
            autoHeight: false
        }
        );
    });
</script>

<div class="fila">
    <div class="display-label-delete">Nombre: </div>
    <div class="display-field-delete">@Model.Nombre</div>
</div>
<div class="fila">
    <div class="display-label-delete">Nivel Ejercicio: </div>
    <div class="display-field-delete">@Model.NivelEjercicio</div>
</div>
@if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("administrador")))
{
<div class="fila">
    <div class="display-label-delete">Es Global: </div>
    <div class="display-field-delete">@if (Model.Global == true)
                                      {
                                          <text>Si</text>
                                      }
                                      else
                                      {
                                          <text>No</text>
                                      } 
    </div>
</div>
}
<div class="fila" >

    <p>Detalles del ejercicio</p>

    <div id="accordion">
        <h3><a href="#">@Html.LabelFor(model => model.Enunciado)</a></h3>
        <div>
            <p>
                @Html.Raw(Html.Encode(Model.Enunciado).Replace("\r\n", "<br />").Replace("\t", "&emsp;"))
            </p>
        </div>
        <h3><a href="#">@Html.LabelFor(model => model.SolucionTexto)</a></h3>
        <div>
            <p>
                @Html.Raw(Html.Encode(Model.SolucionTexto).Replace("\r\n", "<br />").Replace("\t", "&emsp;"))
            </p>
        </div>
        <h3><a href="#">@Html.LabelFor(model => model.SolucionGarGar)</a></h3>
        <div>
            <p>
                @Html.Raw(Html.Encode(Model.SolucionGarGar).Replace("\r\n", "<br />").Replace("\t", "&emsp;"))
            </p>
        </div>
    </div>
</div>
<div class="fila">
    <div class="display-label-delete">Autor</div>
    <div class="display-field-delete">@localUserName</div>
</div>
<div class="fila">
    <div class="display-label-delete">Estado</div>
    <div class="display-field-delete">@Model.EstadoEjercicio.Descripcion</div>
</div>
@if (Model.EstadoEjercicioId == Convert.ToInt32(WebProgramAR.Globales.Globals.EstadosEjercicios.Desaprobado) && Model.MensajeModeracion != null)
{
    <div class="fila">
    <div class="display-label-delete">Razon desaprobado</div>
    <div class="display-field-delete">@Model.MensajeModeracion.Mensaje</div>
</div>
}

<div class="fila">
@if (Model.Cursoes != null && Model.Cursoes.ToList().Count > 0)
{
    <div class="display-label-delete">NOTA:</div>
    if (ViewBag.EsDelete)
    {
        <div class="display-field-delete">El ejercicio se encuentra asociado a al menos un curso. <br />Si lo elimina, sera borrado del curso.</div>
    }
    else
    {
        <div class="display-field-delete">El ejercicio se encuentra asociado a al menos un curso.</div>
    }
}
  
</div>

         

