@model List<WebProgramAR.Entidades.Ejercicio>
@{
    
    string nombreDivCurso = "curso";
    int i = 1;
}

@if (Model != null && Model.Count > 0)
{

    <div class="collapseSection collapse" onclick="colapseClick('ejerciciosDiv')" style="font-size: 16px;">
    <div class="preElement toggle_off" id="pre_ejerciciosDiv"></div>Ejercicios
    </div> 

    <div id="ejerciciosDiv">                      
        @foreach (var item in Model)
        {
            <div >
                <div class="collapseTitle collapse" onclick="colapseClick('@string.Format("{0}{1}", nombreDivCurso, i)')" style="font-size: 16px;">
                    <div class="preElement toggle_off" id="@string.Format("pre_{0}{1}", nombreDivCurso, i)"></div>@item.Nombre
                </div> 
    
                <div id="@string.Format("{0}{1}", nombreDivCurso, i)" style="margin-left:8px;">  
                
                    <div class="collapseItem collapse" onclick="colapseClick('@string.Format("{0}{1}{2}", nombreDivCurso, i, "autor")')" style="display:block">
                        <div class="preElement toggle_off" id="@string.Format("pre_{0}{1}{2}", nombreDivCurso, i, "autor")"></div>Autor
                    </div>   
            
                    <div  class="item"  id="@string.Format("{0}{1}{2}", nombreDivCurso, i, "autor")"  style="display:block">  
                        @item.Usuario.UsuarioNombre
                    </div>    

                    <div class="collapseItem collapse"  onclick="colapseClick('@string.Format("{0}{1}{2}", nombreDivCurso, i, "nivel")')" style="display:block">
                        <div class="preElement toggle_off" id="@string.Format("pre_{0}{1}{2}", nombreDivCurso, i, "nivel")"></div>Nivel Ejercicio
                    </div>   
            
                    <div class="item"  id="@string.Format("{0}{1}{2}", nombreDivCurso, i, "nivel")"  style="display:block">  
                        @item.NivelEjercicio
                    </div>    
                    
            
                    <div class="collapseItem collapse"  onclick="colapseClick('@string.Format("{0}{1}{2}", nombreDivCurso, i, "enunciado")')" style="display:block">
                        <div class="preElement toggle_off" id="@string.Format("pre_{0}{1}{2}", nombreDivCurso, i,"enunciado")"></div>Enunciado
                    </div>   
            
                    <div class="item"   id="@string.Format("{0}{1}{2}", nombreDivCurso, i, "enunciado")"  style="display:block">  
                        @item.Enunciado
                    </div>          

                    <div  class="collapseItem collapse" onclick="colapseClick('@string.Format("{0}{1}{2}", nombreDivCurso, i, "solucionTexto")')" style="display:block">
                        <div class="preElement toggle_off" id="@string.Format("pre_{0}{1}{2}", nombreDivCurso, i,"solucionTexto")"></div>Solución
                    </div>   
            
                    <div  class="item"  id="@string.Format("{0}{1}{2}", nombreDivCurso, i, "solucionTexto")" style="display:block">  
                        @item.SolucionTexto
                    </div>

                    <div class="collapseItem collapse"  onclick="colapseClick('@string.Format("{0}{1}{2}", nombreDivCurso, i, "solucionGargar")')"  style="display:block">
                        <div class="preElement toggle_off" id="@string.Format("pre_{0}{1}{2}", nombreDivCurso, i,"solucionGargar")"></div>Solución Código
                    </div>   
            
                    <div  class="item"  id="@string.Format("{0}{1}{2}", nombreDivCurso, i, "solucionGargar")"  style="display:block">  
                        @item.SolucionGarGar
                    </div>

                

                </div>
            </div>
        
            i++;

        }
    </div>

}
else
{
    <div class="display-field-delete">Este curso no tiene ejercicios asociados.</div>
}
<script language="javascript" type="text/javascript">
    if ($('.collapse').length == 0) {
        $("#submitButton").css("position", "absolute");
        $("#submitButton").css("top", "150px");
        $("#dialog").animate({ height: "260px" }); 
    }
    function colapseClick(ulName) {

        $("#" + ulName).fadeToggle('fast', 'linear', function () {
            if ($("#" + ulName).css("display") == "none") {
                $("#pre_" + ulName).removeClass("toggle_off");
                $("#pre_" + ulName).addClass("toggle_on");
            } else {
                $("#pre_" + ulName).addClass("toggle_off");
                $("#pre_" + ulName).removeClass("toggle_on");
            }
            var size = $(".details").css("height");
            var currentHeight = parseInt(size.substring(0, size.length - 2)) + parseInt(170);
            $("#dialog").animate({ height: currentHeight + "px" }); 
        });
        
    }

</script> 





         

