@model WebProgramAR.Sitio.Models.ListEjercicioGrillaModel

@{
    //Layout = null;
    ViewBag.Title = "Asociaciones";

    WebGrid gridCurso = new WebGrid(rowsPerPage: Model.ListEjerciciosGrillaModel[0].CantidadPorPagina
                        , fieldNamePrefix: "Curso_"
                        //, pageFieldName: "Curso_"
                        //, sortFieldName: "Curso_"
                        //, sortDirectionFieldName: "Curso_"
                        );
    WebGrid gridNotCurso = new WebGrid(rowsPerPage: Model.ListEjerciciosGrillaModel[1].CantidadPorPagina
                        , fieldNamePrefix: "NotCurso_"
                        //, pageFieldName: "NotCurso_"
                        //, sortFieldName: "NotCurso_"
                        //, sortDirectionFieldName: "NotCurso_"
                        );

    gridCurso.Bind(Model.ListEjerciciosGrillaModel[0].Ejercicios, autoSortAndPage: false, rowCount: Model.ListEjerciciosGrillaModel[0].Cantidad);

    gridNotCurso.Bind(Model.ListEjerciciosGrillaModel[1].Ejercicios, autoSortAndPage: false, rowCount: Model.ListEjerciciosGrillaModel[1].Cantidad);
    
    string funcionesAutorizadas = ViewBag.FuncionesAutorizadas;

    List<short> listaNivelesEjercicio = (List<short>)ViewBag.NivelesEjercicio;
    List<WebProgramAR.Entidades.EstadoEjercicio> listaEstadosEjercicio = (List<WebProgramAR.Entidades.EstadoEjercicio>)ViewBag.EstadosEjercicio;
}

<script type="text/javascript">
    function ModificarEjerciciosDelCurso(url,cursoId,ejId)
    {
         $.ajax({
                type: 'POST',
                dataType: 'json',
                //contentType: "application/json; charset=utf-8",            
                url: url,
                data: { cursoId: cursoId, ejercicioId: ejId},
                success: function (data) {
                    if (data.resultado == true) {
                        var form = $('form');
                        form.submit();
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                }
            });
    }
    
    $(document).ready(function () {

        $("#filterSearchButtonA").click(function () {
            $("#filterFormA").submit();
        });
        $("#filterSearchButtonNA").click(function () {
            $("#filterFormNA").submit();
        });
        $('#btnFiltrosAsociarA').live('click', function (event) {
            if ($('#filtrosAsociarA').css('display') == 'block') {
                $('#filtrosAsociarA').fadeOut('slow');
            } else {
                $('#filtrosAsociarA').fadeIn('slow');
            }
        });
        $('#btnFiltrosAsociarNA').live('click', function (event) {
            if ($('#filtrosAsociarNA').css('display') == 'block') {
                $('#filtrosAsociarNA').fadeOut('slow',function(){
                var mainSize = $("#main").height();
                if (mainSize > 450)
                    $("body").attr("style", "overflow-y:scroll;");
                else
                    $("body").attr("style", "overflow-y:hidden;");
                });
            } else {
                $('#filtrosAsociarNA').fadeIn('slow',function(){
                var mainSize = $("#main").height();
                if (mainSize > 450)
                    $("body").attr("style", "overflow-y:scroll;");
                else
                    $("body").attr("style", "overflow-y:hidden;");
                });
            }
            
        });


        $('.botonAsociar').click(function (event) {
            
            var curso = @Model.cursoId;
            var ejercicio = $(this).attr('data');
            var url = '@Url.Action("AsociarEjercicioACurso","Curso")'; 

            ModificarEjerciciosDelCurso(url,curso,ejercicio)
        });

        $('.botonDesasociar').click(function (event) {

            var curso = @Model.cursoId;
            var ejercicio = $(this).attr('data');
            var url = '@Url.Action("DesasociarEjercicioACurso","Curso")'; 

            ModificarEjerciciosDelCurso(url,curso,ejercicio)
        });

          $('.botonDetalles').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Details")/', 530, 540);
        });

    
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "CURSOS") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
        var sortcol = '@gridCurso.SortColumn';

        if (sortcol != '')
            $('div#contenedor-gridA > table > thead > tr > th > a[href*="Curso_sort=@gridCurso.SortColumn"]').parent().addClass('@(gridCurso.SortDirection == SortDirection.Descending ? "grid_sort_asc" : "grid_sort_desc")');

        var sortcolNotCurso = '@gridNotCurso.SortColumn';

        if (sortcolNotCurso != '')
            $('div#contenedor-gridNA > table > thead > tr > th > a[href*="NotCurso_sort=@gridNotCurso.SortColumn"]').parent().addClass('@(gridNotCurso.SortDirection == SortDirection.Descending ? "grid_sort_asc" : "grid_sort_desc")');

        //FuncionesAutorizadas('@funcionesAutorizadas');
    });
</script>
    <h2>Asociar Ejercicios</h2>
    <h4>Curso</h4>
    <!--*******************EJERCICIOS ASOCIADOS************************-->
    <h1>Ejercicios Asociados</h1>

    <div id="contenedor-gridA">

        @gridCurso.GetHtml(
            tableStyle: "grid",
            fillEmptyRows: false,
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAlternatingRow",
            headerStyle: "gridHeader",
            footerStyle: "gridPager",
            mode: WebGridPagerModes.All,
                firstText: "<<",
                previousText: "<",
            nextText: ">",
                lastText: " >>",
            columns: new[] {
            gridCurso.Column("EjercicioId", header: "Identificador",style:"gridRowShort"),
            gridCurso.Column("Nombre", header: "Nombre",style:"gridRowLarge"),
            gridCurso.Column("NivelEjercicio", header: "Nivel",style:"gridRowShort"),
            gridCurso.Column("Usuario.UsuarioNombre", header: "Usuario",style:"gridRowMedium"),
            gridCurso.Column("", 
              header: "",
              format: @<text>
                        <input type="image" alt="Detalles" src="@Url.Content("~/Content/images/preview-16.png")" data="@(item.EjercicioId)" class="botonDetalles hoverRel"/>
                      </text>,
              style:"gridRowShort"
            ),            
            gridCurso.Column("", 
                  header: "",
                  format: @<text>
                            <input type="image" alt="Desasociar" src="@Url.Content("~/Content/images/remove.png")" data="@(item.EjercicioId)" class="botonDesasociar hoverRel"/>
                          </text>,
              style:"gridRowShort"
            )
        })

    </div>

    <!--*******************EJERCICIOS NO ASOCIADOS************************-->
    <h1>Ejercicios No Asociados</h1>
    <div id="buttonSectionNA" class="buttonSection">
        <div id="btnFiltrosAsociarNA" class="btn_filtros boton" >Filtros </div>
    </div>

    <div id="filtrosAsociarNA" class="filtros">
        <div class="tituloabm">Seleccion de cursos</div>

        <div class="filtrosabm">
        @using (Html.BeginForm("AsociarCursoEjercicio", "Ejercicio", FormMethod.Post, new { id = "filterFormNA" }))
        {  
            @Html.HiddenFor(model => Model.cursoId, new { id = "cursoIdNA" })
                <table>
                <tr>
                    <td><div class="label">Nombre</div></td>
                    <td valign="top">@Html.TextBox("nombreNA", null, new { maxlength = 50, autocomplete = "off" })</td>                    
                    <td><div class="label">Nivel</div></td>
                    <td valign="top">               
                            @Html.DropDownList("nivelEjercicioNA", listaNivelesEjercicio.Select(option => new SelectListItem
                       {
                           Text = Html.DisplayTextFor(_ => option).ToString(),
                           Value = option.ToString()
                       }), "TODOS", new { @style = "display:none" }
                    )
                    </td>
                </tr>
            </table>
            <div id="filterSearchButtonNA" class="filterButton"></div>
        }
        </div>
    </div>
    

    <div id="contenedor-gridNA">

        @gridNotCurso.GetHtml(
            tableStyle: "grid",
            fillEmptyRows: false,
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAlternatingRow",
            headerStyle: "gridHeader",
            footerStyle: "gridPager",
            mode: WebGridPagerModes.All,
                firstText: "<<",
                previousText: "<",
            nextText: ">",
                lastText: " >>",
            columns: new[] {
            gridNotCurso.Column("EjercicioId", header: "Identificador",style:"gridRowShort"),
            gridNotCurso.Column("Nombre", header: "Nombre",style:"gridRowLarge"),
            gridNotCurso.Column("NivelEjercicio", header: "Nivel",style:"gridRowShort"),
            gridNotCurso.Column("Usuario.UsuarioNombre", header: "Usuario",style:"gridRowMedium"),
            gridNotCurso.Column("", 
              header: "",
              format: @<text>
                        <input type="image" alt="Detalles" src="@Url.Content("~/Content/images/preview-16.png")" data="@(item.EjercicioId)" class="botonDetalles hoverRel"/>
                      </text>,
              style:"gridRowShort"
            ),          
            gridNotCurso.Column("", 
                  header: "",
                  format: @<text>
                            <input type="image" alt="Asociar" src="@Url.Content("~/Content/images/append.png")" data="@(item.EjercicioId)" class="botonAsociar hoverRel"/>
                          </text>,
              style:"gridRowShort"
            )
        })

    </div>
    <div id="dialog" class="dialogDiv" ></div>

    <script type="text/javascript">
        convertSelect("nivelEjercicioNA", 1);
//        convertSelect("estadoEjercicioNA", 1);


        if ($(".grid").find("tbody").children().length == 0) {
            $(".grid").find("tbody").append("No se han encontrado Resultados");
        }
        function OnChangeDo(div) {
            if (div.attr('id') == "nivelEjercicioNA") {
                $("#nivelEjercicioNA").children().each(function () { $(this).removeAttr("selected"); });
                var tipoUsuario = $("#selectBox_nivelEjercicioNA").attr("rel");
                $('#nivelEjercicioNA option[value="' + tipoUsuario + '"]').attr("selected", "selected");
            }
        }
    </script>


