@model WebProgramAR.Sitio.Models.EjercicioModel
           
@{
    
    ViewBag.Title = "Ejercicios";
}

<h2>Crear</h2>
<h4>Ejercicio</h4>
        


   
@using (Html.BeginForm("Create", "Ejercicio", new { autocomplete = "off" }))
{ 
        @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.NivelEjercicio)
    @Html.HiddenFor(model => model.Enunciadooo)
    @Html.HiddenFor(model => model.SolucionTexto)
    @Html.HiddenFor(model => model.SolucionGarGar)
    @Html.HiddenFor(model => model.XmlDelEjercicio)

        <div class="editor-label" style="width: 100px;">
                @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field"style="width: 100px;">
            @Html.EditorFor(model => model.Nombre, new { style = "width:100px;" })
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

    if (HttpContext.Current.User.IsInRole("administrador"))
    {
                <div class="editor-label">
                        @Html.LabelFor(model => model.Global)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Global)    
                </div>
    }
    else
    {
        Model.Global = false;
    }

            <div class="editor-label">
                @Html.LabelFor(m => m.NivelEjercicio)
            </div>
            <div class="editor-field">
                    @Html.TextBox("nivelDificultad", Model.NivelEjercicio, new { disabled = "disabled" })
            </div>

            <div style="display:block" >

                <p>Detalles del ejercicio</p>

                <div id="accordion">
                    <h3><a href="#">@Html.LabelFor(model => model.Enunciadooo)</a></h3>
                    <div>
                        <p>
                            @Html.Raw(Model.Enunciadooo.Replace("\r\n", "<br />"))
                        </p>
                    </div>
                    <h3><a href="#">@Html.LabelFor(model => model.SolucionTexto)</a></h3>
                    <div>
                        <p>
                            @Html.Raw(Model.SolucionTexto.Replace("\r\n", "<br />"))
                        </p>
                    </div>
                    <h3><a href="#">@Html.LabelFor(model => model.SolucionGarGar)</a></h3>
                    <div>
                        <p>
                            @Html.Raw(Model.SolucionGarGar.Replace("\r\n", "<br />"))
                        </p>
                    </div>
                </div>
          
            </div>
   

        <div id="buttonSectionOptions"  style="display:block">
                <div>
                    <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
                </div>
            </div>
}
<div class="update-message-box">
    <div id="update-message" class="error" ></div>
    <div class="pointerBox"></div>
</div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("input#Nombre").addClass("normalStringValidation");
        loadValidationsInput();
        $("#accordion").accordion(
        {
            autoHeight: false
        }
        );
    });
</script>
