@model WebProgramAR.Entidades.Ejercicio
@{

    Layout = null;
}

    
@using (Ajax.BeginForm("Delete", "Ejercicio", FormMethod.Post, new AjaxOptions { OnBegin = "disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }))
{
    <h2>Eliminar</h2>
    <legend>Ejercicio</legend>
    <h3>Confirmacion</h3>
    <fieldset>
    @Html.HiddenFor(m => m.EjercicioId)
    <br style="height: 5px" />
    <div class="fila">
        <div class="display-label-delete">Nombre:</div>
        <div class="display-field-delete">@Model.Nombre</div>
    </div>
    <div class="fila">
        <div class="display-label-delete">Nivel Ejercicio:</div>
        <div class="display-field-delete">@Model.NivelEjercicio.Descripcion</div>
    </div>
    <div class="fila">
        <div class="display-label-delete">Enunciado:</div>
        <div class="display-field-delete">@Model.Enunciado</div>
    </div>
    <div class="fila">
        <div class="display-label-delete">Solucion:</div>
        <div class="display-field-delete">@Model.Solucion</div>
    </div>
    <div class="fila">
        <div class="display-label-delete">Solucion Modo Texto:</div>
        <div class="display-field-delete">@Model.SolucionTexto</div>
    </div>
    <div class="fila">
        <div class="display-label-delete">Usuario</div>
        <div class="display-field-delete">@Model.Usuario.UsuarioNombre</div>
    </div>
    <div class="fila">
        <div class="display-label-delete">Estado</div>
        <div class="display-field-delete">@Model.EstadoEjercicio.Descripcion</div>
    </div>
    
    </fieldset>
     <div id="buttonSectionOptions">
            <div>
                <input type="submit" value="Guardar" class="submit" id="btnGuardar"/>
            </div>
            <div >
                 <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
            </div>
        </div>

}

<div id="update-message" class"error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
