@model WebProgramAR.Sitio.Models.EjercicioGrillaModel

@{
    if (!Model.ConLayout)
    {
        Layout = null;
    }
    
    ViewBag.Title = "Ejercicio";

    WebGrid grid = new WebGrid(rowsPerPage: Model.CantidadPorPagina, canPage: false);

    grid.Bind(Model.Ejercicios, autoSortAndPage: true, rowCount: Model.Cantidad);

    string funcionesAutorizadas = ViewBag.FuncionesAutorizadas;

    List<WebProgramAR.Entidades.NivelEjercicio> listaNivelesEjercicio = (List<WebProgramAR.Entidades.NivelEjercicio>)ViewBag.NivelesEjercicio;
    List<WebProgramAR.Entidades.EstadoEjercicio> listaEstadosEjercicio = (List<WebProgramAR.Entidades.EstadoEjercicio>)ViewBag.EstadosEjercicio;
}

<script type="text/javascript">
    $(document).ready(function () {

        $("#filterSearchButton").live('click', function () {
            $("#filterForm").submit();
        });
        //para el manejo del menu
        $("#menu li").each(function (index) {
            if ($(this).children().html().toUpperCase() == "EJERCICIOS") {
                $(this).addClass("selected");
            } else {
                $(this).removeClass("selected");
            }
        });
        $('#btnFiltros').live('click', function (event) {
            if ($('#filtros').css('display') == 'block') {
                $('#filtros').fadeOut('slow');
            } else {
                $('#filtros').fadeIn('slow');
            }
        });
        $('#btnNuevo').click(function (event) {
            OpenDialog(event, '', '@Url.Action("Create")/', 500, 550);
        });

        $('.botonEliminar').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Delete")/', 500, 350); 
        });

        $('.botonEditar').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Edit")/', 500, 550);
        });

        $('.botonDetalles').click(function (event) {
            OpenDialog(event, $(this).attr('data'), '@Url.Action("Details")/', 500, 350);
        });
        var sortcol = '@grid.SortColumn';

        if (sortcol != '')
            $('thead > tr > th > a[href*="sort=@grid.SortColumn"]').parent().addClass('@(grid.SortDirection == SortDirection.Descending ? "grid_sort_asc" : "grid_sort_desc")');

        //FuncionesAutorizadas('@funcionesAutorizadas');
    });
</script>


<h1>Ejercicios Aprobados</h1>
<div id="buttonSection" class="buttonSection">
@if ((Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("administrador"))) || !Model.AplicarPermisos)
{
    <div id="btnNuevo" class="btn_nuevo boton" >Nuevo </div>
}
    <div id="btnFiltros" class="btn_filtros boton" >Filtros </div>
</div>

<div id="filtros">
    <div class="tituloabm">Seleccion de Ejercicios</div>

    <div class="filtrosabm">
        @using (Html.BeginForm("Index", "Ejercicio", FormMethod.Post, new { id = "filterForm" }))
        {    
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td><div class="label">Nombre</div></td>
                    <td valign="top">@Html.TextBox("nombre", null, new { maxlength = 50, autocomplete = "off" })</td>
                    <td><div class="label">Estado</div></td>
                    <td valign="top">               
                         @Html.DropDownList("estadoEjercicio", listaEstadosEjercicio.Select(option => new SelectListItem
                    {
                        Text = Html.DisplayTextFor(_ => option.Descripcion).ToString(),
                        Value = option.EstadoEjercicioId.ToString()
                    }), new { @style = "display:none" })
                    </td>

                    <td><div class="label">Nivel</div></td>
                    <td valign="top">               
                         @Html.DropDownList("nivelEjercicio", listaNivelesEjercicio.Select(option => new SelectListItem
                    {
                        Text = Html.DisplayTextFor(_ => option.Descripcion).ToString(),
                        Value = option.NivelEjercicioId.ToString()
                    }), new { @style = "display:none" })
                    </td>
                </tr>
            </table>
            <div id="filterSearchButton" class="filterButton"></div>
        }
    </div>
</div>
    

<div id="contenedor-grid">

@if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("administrador")) )
{
    @grid.GetHtml(
        tableStyle: "grid",
        fillEmptyRows: false,
        rowStyle: "gridRow",
        alternatingRowStyle: "gridAlternatingRow",
        headerStyle: "gridHeader",
        footerStyle: "gridPager",
        mode: WebGridPagerModes.All,
            firstText: "<<",
            previousText: "<",
        nextText: ">",
            lastText: " >>",
        columns: new[] {
        grid.Column("EjercicioId", header: "Identificador"),
        grid.Column("Enunciado", header: "Enunciado"),
        grid.Column("NivelEjercicio.Descripcion", header: "Nivel"),
        grid.Column("Usuario.UsuarioNombre", header: "Usuario"),        
        grid.Column("", 
              header: "",
              format: @<text>
                        <input type="image" alt="Detalles" src="@Url.Content("~/Content/images/preview-16.png")" data="@(item.EjercicioId)" class="botonDetalles hoverRel"/>
                      </text>
        ),        
        grid.Column("", 
              header: "",
              format: @<text>
                        <input type="image" alt="Editar" src="@Url.Content("~/Content/images/edit_modify.png")" data="@(item.EjercicioId)" class="botonEditar hoverRel"/>
                      </text>
        ),
        grid.Column("", 
              header: "",
              format: @<text>
                        <input type="image" alt="Eliminar" src="@Url.Content("~/Content/images/cancel_delete-16.png")" data="@(item.EjercicioId)" class="botonEliminar hoverRel"/>
                    
                      </text>
        )
    })

}
else
{
        @grid.GetHtml(
        tableStyle: "grid",
        fillEmptyRows: false,
        rowStyle: "gridRow",
        alternatingRowStyle: "gridAlternatingRow",
        headerStyle: "gridHeader",
        footerStyle: "gridPager",
        mode: WebGridPagerModes.All,
            firstText: "<<",
            previousText: "<",
        nextText: ">",
            lastText: " >>",
        columns: new[] {
        grid.Column("EjercicioId", header: "Identificador"),
        grid.Column("Enunciado", header: "Enunciado"),
        grid.Column("NivelEjercicio.Descripcion", header: "Nivel"),
        grid.Column("Usuario.UsuarioNombre", header: "Usuario"),
        grid.Column("", 
              header: "",
              format: @<text>
                        <input type="image" alt="Detalles" src="@Url.Content("~/Content/images/preview-16.png")" data="@(item.EjercicioId)" class="botonDetalles hoverRel" />
                      </text>
        )
    })
}
</div>
<div id="dialog" class="dialogDiv" ></div>
<script type="text/javascript">
    $("<option value='0' selected='selected'>TODOS</option>").prependTo("#nivelEjercicio");
    $("<option value='0' selected='selected'>TODOS</option>").prependTo("#estadoEjercicio");
    convertSelect("nivelEjercicio",1);
    convertSelect("estadoEjercicio",1);
    function OnChangeDo(){return false;}
</script>
