@model WebProgramAR.Sitio.Models.ModerarEjercicioModel


@{
    Layout = null;
    ViewBag.Title = "Ejercicios";
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnAprobar").click(function (event) {
            $('#hddnResultadoModeracion').val(true);
        });

        $("#btnDesaprobar").click(function (event) {
            $('#hddnResultadoModeracion').val(false);
        });


    });

</script>



<h2>Moderar</h2>
<legend>Ejercicio</legend>

@using (Ajax.BeginForm("Moderar", "Ejercicio", FormMethod.Post, new AjaxOptions { OnBegin = "disableButtons", UpdateTargetId = "update-message", OnSuccess = "updateSuccess", HttpMethod = "POST" }, new { autocomplete = "off" }))
{ 
    <fieldset>
        <div style="overflow-y:auto;">
            @Html.ValidationSummary(true)

            @Html.Partial("_Display", Model.Ejercicio)

            <div class="editor-label">
                Mensaje de moderación
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.MensajeMail)
            </div>

            @Html.HiddenFor(m => m.Aceptado, new { id = "hddnResultadoModeracion"})
            @Html.HiddenFor(m => m.Ejercicio.EjercicioId)
         
            <div id="buttonSectionOptions" class="buttonSectionOptions<">
                <div>
                    <input type="submit" value="Aprobar" class="submit" id="btnAprobar"/>
                </div>
                <div>
                    <input type="submit" value="Desaprobar" class="submit" id="btnDesaprobar"/>
                </div>
                <div >
                     <input type="button" value="Cancelar" class="submit" id="btnCancelar"/>
                </div>
            </div>
        </div>
    </fieldset>
}
<div id="update-message" class="error" style="display:none;"></div>
<div id="divOperacionExitosa">Operacion Exitosa</div>
