<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>@ViewBag.Title</title>

    @Html.Partial("~/Views/Shared/_IncludeScripts.cshtml")
</head>
<body>

@{
    
    string query = Request.QueryString["ReturnUrl"];
    string controllerRedirect = string.Empty;
    string actionRedirect = string.Empty;


    if (!string.IsNullOrEmpty(query))
    {
        string[] valores = query.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries);

        if (valores.Length > 0)
        {
            if (valores.Length > 1)
            {
                if (valores.Length > 2)
                {
                    //Era un edit, un details,  un delete o simil. Redirecciono al index.
                    controllerRedirect = valores[0];
                    actionRedirect = "Index";
                }
                else
                {
                    //Es una accion de un controler que no es el index                                      
                    
                    controllerRedirect = valores[0];
                    
                    //Si es create lo mando al index
                    if (valores[1] == "Create")
                    {
                        actionRedirect = "Index";
                    }
                    else
                    {
                        actionRedirect = valores[1];    
                    }
                    
                }
            }
            else
            {
                //Es el el index de algun controller
                controllerRedirect = valores[0];
                actionRedirect = "Index";
            }

        }
        else
        {
            //Es que es el HomeController al Index
            controllerRedirect = "Home";
            actionRedirect = "Index";
         }

    }
}

@Html.Hidden("actionRedirect", actionRedirect, new { id = "actionRedirect" })
@Html.Hidden("controllerRedirect", controllerRedirect, new { id = "controllerRedirect" })


    <div class="page">
        <header>
            <div id="logoProgramar">&nbsp;</div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                        <li class="selected">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Que es?", "Descripcion", "Home")</li>
                        <li>@Html.ActionLink("Cursos", "Index", "Curso")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                        
                        @if (Request.IsAuthenticated && (HttpContext.Current.User.IsInRole("administrador") || HttpContext.Current.User.IsInRole("moderador")))
                        {
                            <li id="SeccionEjercicios" class="hasSubMenu"><a>EJERCICIOS</a>
                                
                            </li>
                        }
                        else
                        {
                            if (Request.IsAuthenticated)
                            {
                                <li id="SeccionEjerciciosNormal" class="hasSubMenu"><a>EJERCICIOS</a>
                                
                                </li>
                            }
                            else
                            {
                                <li class="submenuLi">@Html.ActionLink("Ejercicios", "Index", "Ejercicio")</li>
                            }
                        }

                        @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("administrador"))
                        {
                            <li>@Html.ActionLink("Configuracion", "Index", "Seguridad")</li>
                        }
                        
                        <li>@Html.ActionLink("Contacto", "About", "Home")</li>
                    
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
            <div class="content">
                <div class="h8">INFORMACION</div><br />
                <div class="contentSiteMap">@Html.ActionLink("Home", "Index", "Home")</div>
                <div class="contentSiteMap">@Html.ActionLink("Que es?", "Descripcion", "Home")</div>
                <div class="contentSiteMap">@Html.ActionLink("Contacto", "About", "Home")</div>
            </div>
            <div class="content">
                <div class="h8">ADMINISTRACION</div><br />
                <div class="contentSiteMap">@Html.ActionLink("Cursos", "Index", "Curso")</div>
                <div class="contentSiteMap">@Html.ActionLink("Usuarios", "Index", "Usuario")</div>
            </div>
            <div style="float:right;width:120px;margin-top:0px;padding-left:20px;padding-right:30px;">
                <div>Desarrollado por</div>
                <div><input type="image" src="@Url.Content("~/Content/images/logow4m.png")" alt=""/></div>
            </div>
        </footer>
    </div>
    <ul id="subSeccionEjercicios" class="submenu">
        <li class="submenuLi">@Html.ActionLink("Crear Ejercicio", "Upload", "Ejercicio")</li>
        <li class="submenuLi">@Html.ActionLink("Aprobados", "Index", "Ejercicio")</li>
        <li class="submenuLi">@Html.ActionLink("Pendientes", "PendientesAprobacion", "Ejercicio")</li>
        <li class="submenuLi">@Html.ActionLink("Desaprobados", "Desaprobados", "Ejercicio")</li>
    </ul>
    <ul id="subSeccionEjerciciosNormal" class="submenu">
        <li class="submenuLi">@Html.ActionLink("Crear Ejercicio", "Upload", "Ejercicio")</li>
        <li class="submenuLi">@Html.ActionLink("Ver Ejercicios", "Index", "Ejercicio")</li>
    </ul>
    <div id="disablingDiv"></div>    
    <div id="overDiv"></div>        
</body>

</html>
